/* *{
    margin: 0;
    padding: 0;
} */


body{
    background-color: #f4f4f4;
    color: #555555;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: normal;
    /* FONT - SHORTHAND */
    /* font: normal 16px Arial, Helvetica, sans-serif; */

    line-height: 1.6em;

    margin: 0;
}

a{
    text-decoration: none;
    color: #000000;
}

a:hover{
    color: #ff0000;
}

a:active{
    color: green;
}

.conteiner{
    width: 80%;
    margin: auto;
}

.clr{
    clear: both;
}

.button{
    background-color: #333333;
    color: #cccccc;
    padding: 10px 15px;
    border: none; 
}

.button:hover{
    background-color: #ffffff;
    color: #ff0000;
}

.box-1{
    background-color: #333333;
    color: #ffffff;

    border-right: 5px red solid;
    border-left: 5px red solid;
    border-top: 5px red solid;
    border-bottom: 5px red solid;
    /* BORDER - SHORTHAND */
    /* border:  5px red solid; */

    padding: 20px;

    margin: 20px 0;
}

.box-1 h1{
    font-family: Tahoma;
    font-weight: 800;
    font-style: italic;
    text-decoration: underline;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    word-spacing: 1em;
}

.box-2{
    border: 3px #cccccc dotted;
    padding: 20px;
    margin: 20px 0;
}

.categorias{
    border: 1px solid #cccccc;
    padding: 10px;
    border-radius: 15px;
}

.categorias h2{
    text-align: center;
}

.categorias ul{
    padding: 0;
    padding-left: 12px;
    list-style: none;
}

.categorias li{
    padding-bottom: 6px;
    border-bottom: 1px #333333 dotted;
    list-style-image: url(
        'images/check.png'
    );
}

.my-form{
    padding: 20px;
}

.my-form .form-group{
    padding-bottom: 15px; 
}

.my-form label{
    display: block;
}

.my-form input[type="text"], input[type="email"], .my-form textarea{
    padding: 8px;
    width: 100%;
}

.block{
    float: left;
    width: 33.3%;
    border: 1px #000000 solid;
    padding: 10px;
    box-sizing: border-box; 
}

#main-block{
    float: left;
    width: 70%;
    padding: 15px;
    box-sizing: border-box;
}

#sidebar{
    float: right;
    width: 30%;
    background-color: #333333;
    color: #ffffff;
    padding: 15px;
    box-sizing: border-box;
}

.p-box{
    width: 800px;
    height: 500px;
    border: 1px #000000 solid;
    margin-top: 30px; 
    position: relative;
}

.p-box h1{
    position: absolute;
    top: 100px;
    left: 200px;
}
.p-box h2{
    position: absolute;
    top: 300px;
    right: 600px;
}

.fix-me{
    position: fixed;
    top: 400px;
}


